version: '3.8'

services:
  backend:
    build: ./backend
    container_name: job-portal-backend-1
    ports:
      - "5000:5000"
    volumes:
      - ./backend:/app
      - /app/node_modules
    environment:
      - PORT=5000
    command: sh -c "npm install && npm start"
    restart: always

  frontend:
    build: ./frontend
    container_name: job-portal-frontend-1
    ports:
      - "5173:5173"
    volumes:
      - ./frontend:/app
      - /app/node_modules
    environment:
      - VITE_API_URL=http://localhost:5000
    restart: always
